*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald";
}
html,body{
    height: 100%;
}
.clear{
    clear: both;
}
.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.header{
    padding: 0 2%;
    width: 100%;
    height: 60px;
    background-color: darkslateblue;
}
.header img{
    margin: 15px;
}
.container-banner{
    padding: 0 2%;
    width: 100%;
    height: 557px;
    background-image: url(../IMG/BGFORM.png);
    background-size: cover;
    background-position: center;
}
.container-banner > .center{
    height: 100%;
}
.form{
    padding: 20px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    border: 8px solid gray;
    background-color: white;
}
.form h2{
    font-weight: normal;
    color: gray;
    font-size: 21px;
}
.input-container{
    margin-top: 20px;
}
.input-container input{
    font-size: 20px;
    padding: 5px;
}
.input-container span,.form p{
    display: inline-block;
    width: 100%;
    color: gray;
}
.form p{
    margin: 20px 0;
}
.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid gray;
}
.input-container input[type=text]:focus{
    outline: 0;
}
.form .input-submit-container{
    text-align: center;
}
.form input[type=submit]{
    border: 0;
    border-bottom: 5px solid mediumpurple;
    display: inline-block;
    color: white;
    font-size: 25px;
    width: 280px;
    height: 56px;
    background-color: darkslateblue;
    cursor: pointer;
}
.form input[type=submit]:hover{
    background-color: mediumpurple;
}
.container-list{
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(35,35,65,0.5);
}
.container-list ul{
    list-style-position: inside;
}
.container-list ul li{
    margin-top: 18px;
    color: white;
}
.container-2{
    padding: 40px 2%;
    background-color: lightgray;
    text-align: center;
}
.container-2 h2{
    font-weight: normal;
}
.container-2 p{
    max-width: 786px;
    margin: 15px 0;
    width: 100%;
    display: inline-block;
    text-align: justify;
}
.arrow{
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(../IMG/ARW.png);
    background-size: 100% 100%;
}
.section-1{
    padding: 90px 2%;
}
.section-1 h2{
    text-align: center;
    color: gray;
    font-weight: normal;
}
.container-section{
    margin-top: 40px;
    text-align: center;
}
.container-single{
    float: left;
    width: 33.333%;
    padding: 30px;
}
.container-single img{
    width: 70px;
}
.container-single p{
    padding: 10px 25px;
    text-align: justify;
}
.footer{
    background-color: gray;
    text-align: center;
    border-top: 2px solid mediumpurple;
    padding: 15px 0;
}
.footer p{
    color: white;
    margin-top: 4px;
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .header{
        height: auto;
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }
    
    .header img{
        margin: 0;
    }
    
    .container-banner{
        padding: 40px 2%;
        width: 100%;
        height: auto;
        text-align: center;
    }
       
    .container-list{
        margin-top: 0;
        display: inline-block;
        padding: 30px 0;
        float: left;
        width: 40%;
        max-width: 500px;
        height: auto;
    }
    
    .form{
        margin-top: 30px;
        max-width: 400px;
        padding: 10px;
        width: 60%;
        height: 100%;
        float: right;
        display: inline-block;
        top: 0;
    }
    
    .input-container input[type=text]{
        width: 100%;
        height: 55px;
    }

    .form input[type=submit]{
        max-width: 280px;
        height: 56px;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .container-2 p{
        padding-right: 4%;
        padding-left: 4%;
    }
    
    .container-list{
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }
    
    .form{
        float: none;
        display: inline-block;
        width: 90%;
        margin-top: 30px;
    }
    
    .container-single{
        float: none;
        width: 100%;
        max-width: 600px;
        display: inline-block;
        padding: 30px 0;
    }
}